appdirs==1.4.0
backports.ssl-match-hostname==3.5.0.1
click==6.7
docker-py==1.10.6
docker-pycreds==0.2.1
Flask==0.12
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
pbr==1.8.1
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
stevedore==1.12.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
websocket-client==0.40.0
Werkzeug==0.11.15
